<html>
  <head>
    <title>Hello continuous deployment</title>
  </head>
  <body>
    <h1>Hello continuous deployment</h1>

    <div>
      <p>This web app knows how to greet you.</p>

      <form action="/greet" method="post">
        <label>What's your name?</label>
        <input type="text" name="name" id="name"></input>
        <button type="submit">Say hello</button>
      </form>
    </div>
  </body>
</html>
